.searchBar-large input {
  height: 35px;
  font-size: 16px;
}

.searchBar-large .ant-input-search-button {
  height: 35px;
  width: 35px;
}

.searchBar-large .ant-input-search-button .anticon {
  font-size: 16px;
}

.ant-table-thead .ant-table-cell {
  font-weight: bold;
}

.ant-table-tbody {
  font-size: 13px;
}

.margin-bot {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 20px;
}

.pad {
  padding: 100px;
  padding-top: 60px;
}
