.ant-card-meta-title,
.ant-card-meta-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 180px;
}

.cardImage {
  height: 180px;
  object-fit: cover;
}

.cardTitleText {
  font-size: 15px;
}
