.scrollContainer {
  overflow-x: auto;
  display: inline-flex;
  white-space: nowrap;
  max-width: 100%;
  gap: 20px;
  padding-block: 5px;
  padding-inline: 3px;
  margin-bottom: 1%;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.margin {
  margin-inline: 1.5%;
  margin-top: 10px;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 10px;
}
